#기상청api
KMA_AUTH_KEY=
NX=
NY=
# 중기육상예보 구역 (전북자치도: 11F10000)
MID_LAND_CODE=
# 중기기온예보 구역 (전주: 11F10201)
MID_TEMP_CODE=

#DB api
VITE_SUPABASE_URL=
VITE_SUPABASE_KEY=
SUPABASE_URL=
SUPABASE_KEY=  # anon public key (또는 service_role key)
#RAG api
OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
OPENAI_API_TYPE="azure"
OPENAI_API_VERSION="2024-12-01-preview"
AZURE_CHAT_DEPLOYMENT="gpt-5-mini"
AZURE_EMBEDDING_DEPLOYMENT="text-embedding-3-small"
AZURE_OPENAI_API_VERSION="2024-02-15-preview"
